body {
    background: url("images/Background_Image.jpg") no-repeat center center fixed;
    font-family: Watchword;
    background-size: cover;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: "Watchword";
    src: url("fonts/Leon-Regular_TRIAL.ttf");
}

@font-face {
    font-family: "Elegant";
    src: url("fonts/Rounded_Elegance.ttf");
}

ul {
    list-style-type: none;
    letter-spacing: 1px;

    font-size: 100%;
    display: table;
    margin: auto;
    width: 100%;
}

li {
    padding:3px;
    display: table-cell
}

li a {
    display: block;
    color: white;
    padding: 18px 10px;
    text-decoration: none;
    text-align: center;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

li a:hover {
    background-color:rgba(255,255,255,0.3);
}

.header_1 {
    font-family: Elegant;
    font-size: 200%;
    letter-spacing: 10px;;
    text-align: center;
}

.header_2 {
    font-family: Elegant;
    font-size: 70%;
    letter-spacing: 7px;
    margin-left: 0%;
    text-align: center;
}

.menu {
    background-color:rgba(0,0,0,0.4);
    position: fixed;
    top: 0%;
    z-index: 5555;
}


.menu_1 {
    color: white;
    display: block;
    float: left;
    width: 29vw;
    height: 100%;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.menu_1:hover {
    color:grey;
}

.menu_2 {
    display: block;
    float: left;
    width: 40vw;
    background-color:rgba(0,0,0,0.5);
}

.menu_3 {
    display: block;
    float: left;
    width: 29vw;
    height: 100%;
}

.social_media_logo {
    float: right;
    width: 40px;
    height: 40px;
    padding: 5px 0 0 50px;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.social_media_logo:hover {
    opacity: 0.5;
}

h1 {
    background-color:rgba(0,0,0,0.4);
    color: white;
    padding: 1vw;
    letter-spacing: 10px;
    font-size: 2.5vw;
    margin-bottom: 0%;
}

.topBefore {
    white-space: normal;
}

#Contact {
    height: calc(100vh);
}

.part {
    white-space: nowrap;
    margin-top: 40vh;
}

.hideme {
    opacity: 0;
}

.BIO_header {
    width: 60vw;
    height: 40vh;
    margin-left: 20vw;
    position:fixed;
    left: 0%;
    top: 45%;
    transform: translate(0%, -50%);
    display: none;
    z-index:1002;
}

.BIO_info {
    height: 100%;
    background-color:rgba(0,0,0,0.6);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}

.benne_bild {
    max-width: 95%;
    max-height: 95%;
    float: right;
    padding: 5px 15px;
}

.darken_background {
    height: 100vh;
    width: 100vw;
    background-color:rgba(0,0,0,0.8);
    display: none;
    position: fixed;
    top: 0;
    z-index:1001;
}

img {
    max-width: 100%;
    max-height: 100%;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.service {
    display: inline-block;
    width: 17.5vw;
    height: 15vw;
    padding: .5%;
    margin: .5%;
    background-color:rgba(0,0,0,0.4);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.7);
    vertical-align:top;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.service:hover {
    opacity: 0.5;
}

.service_text {
    color: white;
    word-break: break-word;
    width: 100%;
    white-space: normal;
    margin-top: 3%;
    padding: 0;
    background-color:rgba(0,0,0,0.4);
}

.service_header {
    color: white;
    word-break: break-word;
    width: 95%;
    white-space: normal;
    margin-top: 3%;
    background-color:rgba(0,0,0,0.4);
}



.header_description {
    word-break: break-word;
    white-space: normal;
    float: right;
    width: 40vw;
    vertical-align: middle;
    color: white;
    font-size: 1vw;
    letter-spacing: 1px;
    background-color:rgba(0,0,0,0);
    box-shadow: 0px 10px 30px rgba(0,0,0,0);
}

.discount {
    float: left;
    margin-left: 20vw;
    width: 20vw;
    color: white;
    font-size: 100%;
    letter-spacing: 1px;
    background-color:rgba(0,0,0,0);
    box-shadow: 0px 10px 30px rgba(0,0,0,0);

}

.firstH1 {
    background-color:rgba(0,0,0,0.4);
    color: white;
    padding: 1vw;
    letter-spacing: 10px;
    font-size: 2.5vw;
    margin-top: 100vh;
    margin-bottom: 0%;
}

p {
    color: white;
    padding: 5px 15px;
    margin-top:0%;
    letter-spacing: 1px;
}

.card {
    display: inline-block;
    width: 17.5vw;
    height: 17.5vw;
    margin: 0.5%;
}

a {
    text-decoration: none;
}

.band_logo {
    width: 100%;
    height: 100%;
}

.band_name {
    font-family: Elegant;
    position: absolute;
    text-align: center;
    margin-top: 8%;
    font-size: 2vw;
    color: white;
    left: 50%;
    transform: translate(-50%);
}

.band_name:hover {
    text-decoration: underline;
}

.play {
    filter: brightness(2);
    position: absolute;
    height: 50%;
    width: 50%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1000%;
}

.timeline {
    position: absolute;
    width: 70%;
    height: 5%;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}

.timeline_line {
    width: 100%;
    height: 15%;
    position: absolute;
    top:50%;
    transform: translate(0%, -50%);
    background-color: #555;
}

.timeline_highlight {
    left: 0;
    width: 0%;
    height: 15%;
    position: absolute;
    top:50%;
    transform: translate(0%, -50%);
    background-color: #999;
}

.volume_timeline_highlight {
    left: 0;
    width: 100%;
    height: 15%;
    position: absolute;
    top:50%;
    transform: translate(0%, -50%);
    background-color: #999;
}

.circle {
    border-radius: 50%;
	height: 100%;
    transform: translate(-50%);
}

.volume {
    position: absolute;
    width: 30%;
    height: 5%;
    top: 89%;
    left: 50%;
    transform: translate(-50%);
}

.volume_circle {
    border-radius: 50%;
	height: 100%;
    transform: translate(-50%);
    margin-left: 100%;
}

.volume_icon {
    position: absolute;
    filter: brightness(0.6);
    left: -25%;
}

.timeLeft {
    font-family: Elegant;
    position: absolute;
    padding: 0.3% 0 0 2%;
    top: 80%;
    font-size: 0.7vw;
    color: white;
}

.timeRight {
    font-family: Elegant;
    position: absolute;
    left: 88%;
    padding: 0.3% 0 0 0.7%;
    top: 80%;
    font-size: 0.7vw;
    color: white;
}

.youtube {
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
    width: 70vw;
    height: 40vw;
    margin-top:0%;
    margin-left: 15vw;
}

.soundcloud {
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
    display: inline-block;
    break-inside: avoid;
    width: 32vw;
    height: 400px;
    margin-top:0%;
}

.soundcloud_menu {
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
    width: 100vw;
    height: 70px;
    float:left;
    position: fixed;
    bottom: 0px;
}
